body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn1 {
    background-color: green;
}

.btn1:hover {
    background-color: darkgreen;
}

.notes-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note p {
    margin: 0;
    flex-grow: 1;
    text-align: left;
}

.delete-btn, .edit-btn {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.delete-btn {
    background-color: red;
}

.delete-btn:hover {
    background-color: darkred;
}

.edit-btn {
    background-color: blue;
}

.edit-btn:hover {
    background-color: darkblue;
}

.note {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.note.show {
    opacity: 1;
    transform: translateY(0);
}


.note.hide {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
